@charset "UTF-8";

h1,h2,h3,p,a,span{
    font-family: 'Gotham A', 'Gotham B', 
        'Montserrat', Helvetica, Arial, sans-serif; 
    font-weight: 400;
    
    -webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
}

body {
	height: 100%;  
	min-height: 100%; 
}

.logo{
    height: 180px;
}

.absolute{
    margin-top: -15px;
    margin-bottom: px;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
}

.navbar-custom {
    min-height: 20px;
    color: rgb(183,207,201);
    background-color: #fff;
    border: none;
}


.navbar-left, .navbar-right li {
    padding: 7px;
}

a{
    color: rgb(183,207,201);
    text-decoration: none;
    transition: color .2s ease-in-out; 
}

a:hover{
    color:darkseagreen;
    text-decoration: none;
}

h3 a:hover{
    color:darkgrey;
    text-decoration: none;
}

.jumbotron {
    margin-top: 190px;
	height: 54%;
    background-image: url(images/lisboa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;  
    margin-bottom: 0;
}

.landing{
    margin-top: 65px;
}

.landing-h2 {
    font-size: 37px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;  
}

.border {
    position: relative;
    background-clip: padding-box;
    border-top: 5px solid transparent;
}

.centre-border {
    background-clip: padding-box;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

@media only screen and (min-width : 768px) {
    .centre-border {
        background-clip: padding-box;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
    }
}

.background{
    padding: 0;
    color: #fff;
    background-color: rgb(205,196,192);
}

.background h2{
    text-transform: uppercase;
}

.pad-fix{
    padding: .1em 2.5em 0 2.5em;
}

.droptext{
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.1em;
    text-align: justify;
}

.slider{
    margin-top: 0px;
    max-height: 110px;
    overflow: hidden;
    transition: max-height 1s ease-in-out ;
    
}

.slide-up{
    margin-top: 0px;
    position: relative;
}


.slider:hover, .slider:focus{
    margin-top: 0px;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    transition: max-height 1s ease-in-out ;
}



@media only screen and (min-width: 768px) {
    
    .droptext {
        height: 350px;
        padding-top: 1em;
        font-size: 1.1em;
        text-align: justify
    }
    .slider {
        margin-top: -350px;
        height: 460px;
        overflow: hidden;
        max-height: 100%;

    }
    .slide-up {
        margin-top: 350px;
        position: relative;
        transition: margin-top 1s ease-in-out;
    }
    .slide-up:hover {
        margin-top: 0px;
    }
    
    .slider:hover{
        margin-top: -350px;
        height: 460px;
        overflow: hidden;
        max-height: 100%;

    }
}


.contact{
    color:rgb(205,196,192);
    border: 4px solid rgb(183,207,201) ;
    border-left: none;
    border-right: none;
    
    margin-top: 6em;
    margin-bottom: 2.5em;
    
    padding-top:6.3em;
    padding-bottom: 6.8em;
}

.margin-fix{
    padding-bottom: 1px;
}

.contact a{
    color:rgb(205,196,192);
    font-weight: 700;
    font-style: normal;
}

#contact{
    margin-top: 2.7em;
    margin-bottom: -.7em;
}

.plus{
    right: 5%; 
    padding: 0px 15px 0px 20px; 
    border:0px;
}

div .plus:hover{
    background-color:white;
}

