@charset "UTF-8";

h1,h2,h3,p,a,span{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
}

html {
	height: 100%;
}

body {
	height: 100%;  
	min-height: 100%; 
}

.logo{
    height: 180px;
}

.absolute{
    margin-top: -15px;
    margin-bottom: px;
    padding: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
}

.navbar-custom {
    min-height: 20px;
    color: rgb(190,197,194);
    background-color: #fff;
    border: none;
}


.navbar-left, .navbar-right li {
    padding: 7px;
}

a{
    color: rgb(190,197,194);
    text-decoration: none;
}

a:hover{
    color:darkgrey;
    text-decoration: none;
}

.jumbotron {
    margin-top: 190px;
	height: 54%;
    background-image: url(images/lisboa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;  
    margin-bottom: 0;
}

.landing{
    margin-top: 65px;
}

.landing-h2 {
    font-size: 37px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;  
}

.border {
    position: relative;
    background-clip: padding-box;
    border-top: 5px solid transparent;
}

.centre-border {
    background-clip: padding-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.background{
    padding: 0;
    color: #fff;
    background-color: rgb(205,198,192);
}

.background h2{
    text-transform: uppercase;
}

.pad-fix{
    padding: .1em 2.5em 0 2.5em;
}

.droptext{
    height: 350px;
    padding-top: 1em;
    font-size: 1.1em;
    text-align: justify
}

.slider{
    margin-top: -350px;
    height: 460px;
    overflow: hidden;
}
.slide-up{
    margin-top: 350px;
    position: relative;
    transition: margin-top 1s ease-in-out ;
}

.slide-up:hover{
    margin-top: 0px;
}

.contact{
    color:rgb(205,198,192);
    border: 4px solid rgb(190,197,194) ;
    border-left: none;
    border-right: none;
    
    margin-top: 6em;
    margin-bottom: 2.5em;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> parent of 3bc37e8... bottom margin safari check
    
>>>>>>> parent of 3bc37e8... bottom margin safari check
    
    padding-top:6.3em;
    padding-bottom: 6.8em;
}

.contact a{
    color:rgb(205,198,192);
    font-weight: 700;
}

#contact{
    margin-top: 2.7em;
    margin-bottom: -.7em;
}
/*
.ender{
    margin: 0;
    padding: 0;
    height: 2.5em;
}*/

